{% extends 'base.html' %}

{% block title %}
    Рандомная утка №{{duck_photo_number }}  
{% endblock %}

{% block content %}
    <style>
        img {
            width: 100%;
            height: 100%;
            max-height:400px;
        }
    </style>


    <div class="fig-wrapper">
        <!-- вариант картинки из интернета -->
        <figure>
            <img width="300"  src="{{duck_photo_url}} " alt="{{duck_photo_number}}" >
        </figure>

    </div>

   
    <p>
        <a href="/">На главную</a>
    </p>
{% endblock %}



