<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aksana_work</title>
    <style>
        /* # CSS */
        body{
            background-color: rgba(177, 237, 197, 0.082);
            /* background-image: url(); */            
        }

        a{
            
            padding: 10px;
            border: 1px solid black;
            margin: 50px;
        }
    </style>
</head>
<body>    
    <p>
        <a href="/duck/">уточки</a>
    </p>
    <br>
    <p>    
        <a href="/fox/">лисички</a>
    </p>
    <br>
    <p>    
        <a href="/weather/Minsk/">погода в Минске</a>
    </p>
    <br>
    <p>    
        <a href="/weather/">погода в выбранном городе</a>
    </p>

    
</body>
<script>


</script>

</html>

