{% extends 'base.html' %}
{% block title %}registration
{% endblock %}

{% block content %}
<div class="form-container">
    <h2> Регистрация </h2>
    {% if errs %}
    <div class="form-errors">
        <ul>
            {% for err in errs.items() %}
                <li>{{ err }}</li>
            {% endfor %}    
        </ul>
    </div>
    {% endif %}
</div>    

<div class="form-wrapper">

    <form  method="POST">
        <div class="form-group">
            <label for="fullname">Введите Ваши имя и фамилию:</label>
            <input type="text" id="fullname" name="fullname" value="{{form.fullname if form}}" required>
        </div>
        <div class="form-group">
            <label for="login">Логин:</label>
            <input type="login" id="login" name="login" value="{{form.login if form}}" required>
        </div>

        <div class="form-group">
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password"  required>
        </div>

        <button class="button_register" type="submit">Зарегистрироваться</button>

        <!-- {% if 'err_reg' %}  
        <div class="button_home" >
            <a href="/">На главную</a>
        </div> -->
        <!-- {% endif %} -->
    </form>
</div>


{% endblock %}


